.enter {
    opacity: 0;
    transform: translate(100% 100%) scale(0.1);
  }
  .enterActive {
    opacity: 1;
    transform: translate(0 0) scale(1);
    transition: all 250ms ease-in;
  }
  
  .exit {
    opacity: 1;
    transform: translate(0 0) scale(1);
  }
  .exitActive {
    opacity: 0;
    transform: translate(100% 100%) scale(0.1);
    transition: all 250ms ease-out;
  }
  